body {
        margin: 0px;
        padding: 0px;
        background-color: #0098ff;
    }

html {
    scroll-behavior: smooth;
}


/* menu de navegação */
li, a {
    font-family: 'Arial';
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    color: #0098ff;
    list-style: none;
}

li a:hover{
    color: #110ea3;
    transition: all 0.3s ease 0s;
}


a {
    padding: -10px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 45px;
    background-color: yellow;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}

.logo {
    width: 200px;
    height: 80px;
}

.furret {
    width: 500px;
    height: 80px;
}

.navegaçao li {
    display: inline-block;
    padding: 0px 20px;
}

.nome {
    font-size: 30px;
}

@media (max-width: 850px) {
    .furret {
        display: none
    }
}

@media (max-width: 380px) {
    .logo {
        display: none;
    }
}


/* galeria */

figure {
    margin-left: 2cm;
    display: inline-block;
    padding: 10px;
    background-color: yellow;
    border-radius: 5px;
}

figcaption {
    font-family: 'Arial', monospace;
    margin-top: 10px;
    color: #0098ff;
    font-weight: bold;
    font-size: 15px;
}

.nomes {
    text-align: center;
    margin-bottom: 20px;
}

.descricao {
    text-align: center;
    margin-bottom: 20px;
}

.galeria {
    margin-top: 2cm;
}




/* sobre nós */

.sobrenos {
    background-color: yellow;
    margin: 4cm auto;
    padding: 10px;
    width: 20%;
    text-align: center;
    font-family: 'Calibri';
    font-weight: bold;
    font-size: 50px;
    border-radius: 10px;
    color: #0098ff;
}

.sobrenostexto {
    margin: auto;
    padding: 50px;
    border: 20px yellow solid;
    width: 50%;
    color: yellow;
    border-radius: 5px;
    margin-bottom: 5cm;
}

